[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
psycopg2-binary = "*"
mssql-django = "*"

[dev-packages]
faker = "*"

[requires]
python_version = "3.11"
