[tool.black]
line-length = 120
target_version = ["py310"]
include = '\.pyi?$'
exclude = '''
(
  /(
      \.eggs
    | \.git
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
    | migrations
    | settings.py
  )/
)
'''

[tool.isort]
force_single_line = true
line_length = 120
use_parentheses = true
multi_line_output = 5
include_trailing_comma = true
lines_between_types = 1
