<!DOCTYPE html>
<html lang="{{locale}}">
<head>
    <title>NUL Basic</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- auth0:head -%}
</head>
<body>
{%- auth0:widget -%}
</body>
</html>
